form {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form > * {
    display: block !important;
}

form label {
    line-height: 0 !important;
}

form .buttons {
    margin-top: 20px;
}

form label {
    user-select: none;
}

