.paper-project{
	width: 80%;
	margin: 0 auto 50px;
	padding: 15px;
    background-color: rgba(255, 255, 255, 0.9) !important;
    color: #525051;
}

.paper-project:first-child { 
    margin-top: 10px;
}

.paper-epic {
	padding: 10px;
	margin: 10px auto ;
	background-color: #b1d952 !important;
}

.paper-story {
	padding: 10px;
	margin: 10px auto;
    background-color: #F9F9F9 !important;
}

.drawer {
    margin-top: 56px;
}

.chip {
	margin: 5px;
}

.wrapper {
	display: inline-flex;
	flex-wrap: wrap;
}

.filter {
	width: 35% !important;
	margin: 0 auto 40px;
	padding: 12px 15px 2px 15px;
    border: 1px solid #CCCCCC;
    border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.9) !important;
    box-shadow: 7px 7px 7px #888888;
    
}

.sidebar > div {
	width: 150px !important;
}

.btn-view-page {
    width: 100%;
    margin: 10px auto 10px auto;
}