html, body {
    margin: 0;
    height: 100%;
}

/*noinspection ALL*/
body {
    margin: 0;
    padding: 15px;
    font-family: sans-serif;
    min-width: 600px;
    background: url("/img/background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#global_container {
    position: relative;
    margin-top: 15px;
    margin-left: 170px;
    padding: 15px;
}

.create-form {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 0 5px black;
    position: absolute;
    left: 0;
}


.sign-form {
    display: block;
    position: absolute;
    width: 300px;
    top: 150px;
    right: 0;
    margin-right: 50%;
    background-color: white;
    padding: 15px;
    border: 2px solid #f1f1f1;
    border-radius: 5px;
}



#login_form form {

}

#login_form form input {
    text-align: center;
}

nav.navbar {
    box-shadow: 0 2px 8px #888888;
    user-select: none;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10001;

}

nav.navbar .nav-link {
    border-radius: 5px;
    user-touch: none;
    user-select: none;
    transition: all 500ms;

}

.navbar .nav-link:hover {
    background-color: #EEE;
}

.link{
    color: #387dc3;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

table td {
    white-space: initial !important;
    overflow: auto !important;
}